<%- include('./partials/head.ejs') %> 

<%- include('./partials/nav.ejs') %>

<div style="text-align: center;">
<h1>Lecturer's Details</h1>
   <h5>Full Names : <%= admin.first_name %> <%= admin.last_name %></h5>
   <h5>Email Address : <%= admin.email %> </h5>
   <h5>User ID Number : <%= admin.number %> </h5>
   <h5>Department : <%= admin.dep %> </h5>
   <h5>Role : <%= admin.role %> </h5>
   <h5>Date Registered : <%= admin.createdAt %> </h5>
  
</div>


<%- include('./partials/footer.ejs') %> 