<%- include('./partials/head.ejs') %> 

<%- include('./partials/lecturer_nav.ejs') %> 

<div class="container">
  <h1>Students Details</h1>
  
  <h3>Names : <%= student.first_name %> <%= student.last_name %> </h3>
  <h3>Sex : <%= student.sex %> </h3>
  <h3>Computer Number : <%= student.number %> </h3>
  <h3>Email : <%= student.email %> </h3>
   
</div>


<%- include('./partials/head.ejs') %> 